  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', sans-serif;
}

:root{
    --current-translateY: 0;
    --target-translateY: 0;
}

body{
    overflow: hidden;
}

.game-board{
    height: 80vh;
    border-bottom: 1vh solid rgb(35, 160, 35);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEEB, #E0F6FF);
}

.contador{
    font-size: 4vw;
    position: absolute;
    left: 0;
    background-color: wheat;
    border-radius: 1.2rem;
    margin: 1rem;
}

.contador p{
    padding: 0.7rem;
}

.ring {
    background: url(assets/ring.webp) no-repeat;
    height: 8vw;
    width: 8vw;
    background-size: contain;
    position: absolute;
    display: none;
    z-index: 1;
    animation: ring-animation 2s linear forwards;
}

.monster{
    background: url(assets/monster.png) no-repeat;
    background-size: cover;
    position: absolute;
    height: 12vw;
    width: 12vw;
    bottom: 0;
    animation: monster-animation 1.2s infinite linear;
}

.sonic{
    background: url(assets/sonic.gif) no-repeat;
    background-size: cover;
    position: absolute;
    height: 12vw;
    width: 12vw;
    bottom: 0;
    margin-bottom: -1.7vw;
}

.doublejump{
    background: url(assets/sonic-jump.gif) no-repeat;
    height: 11vw;
    background-size: contain;
    animation: doublejump 1s linear;
    transition: background 120ms;
}

.jump{
    height: 12vw;
    width: 12vw;
    background: url(assets/sonicball.gif) no-repeat;
    background-size: cover;
    animation: sonic-jump 0.7s linear;
}

.fall{
    animation: fall 0.7s ease-out;
}


.game-over{
    height: 12vw;
    background: url(assets/sonicgameover.png) no-repeat;
    background-size: contain;
    left: 0.5rem;
}

.clouds{
    margin-top: 5vh;
    width: 25vw;
    position: absolute;
    animation: cloud-anim 4s infinite linear;
}

.floor{
    background: url(assets/floor.png);
    width: 100vw;
    height: 100vh;
}

.setas{
    background-color: wheat;
    height: 8vh;
    width: 100vw;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.setas p{
    font-size: 1.6em;
    vertical-align:middle;
    height: 2rem;
}

.setas img{
    height: 1.5rem;
}

#space{
    position: relative;
    top: 0.5rem;
    height: 2rem;
}

#queda{
    transform: scaleY(-1);
}


@keyframes cloud-anim{
    from{
        right: -26vw;
    }

    to{
        right: 100%;
    }
}

@keyframes ring-animation{
    from{
        right: -8rem;
    }

    to{
        right: 100%;
    }
}

@keyframes ring-reset {
    0% {
        right: 100%;
    }
    100% {
        right: 0;
    }
}

@keyframes ringEnd{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

@keyframes sonic-jump {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-130%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes monster-animation {
    from{
        right: -13rem;
    }

    to{
        right: 100%;
    }

}

@keyframes sonic-over{
    0%{
        transform: scale(0.8);
        transform: translateY(0);
        }
    50%{
        transform: scale(1);
        transform: translateY(-50%);
        }
    100%{
        transform: scale(0.8);
    }
}

@keyframes doublejump{
    0%{
        transform: translateY(var(--current-translateY));
    }
    100%{
        transform: translateY(var(--target-translateY));
    }
}

@keyframes fall{
    from{
        transform: translateY(var(--current-translateY));
    }
    to{
        transform: translateY(150%);
    }
}


@media((max-width:850px)){
    .fall{
        animation-duration: 0.6s;
    }
}

/*
@media((min-width: 851px) and (max-width:1024px)){
    .game-board{
        height: 50vh;
    }
}

@media (min-width: 1025px) and (max-width: 1400px){
    .game-board{
        height: 70vh;
    }
}
*/

@media((max-width:1024px)){
    .setas{
        display: none;
    }
}